<form id="webdavbackup_plugin_settings" class="form-horizontal">
    <h4>Connection settings</h4>
    <div class="accordion-inner">
        <div class="control-group">
            <label class="control-label">{{ _('Server') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.webdavbackup.server">
                <span class="help-block">
                    The WebDAV server to connect to.
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Username') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.webdavbackup.username">
            </div>
            <label class="control-label">{{ _('Password') }}</label>
            <div class="controls">
                <input type="password" class="input-block-level" data-bind="value: settings.plugins.webdavbackup.password">
                <span class="help-block">
                    The username and password to authenticate against WebDAV.<br>
                    <b>Please note that the password will be stored in plain text! Use an app specific password if possible.</b>
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.webdavbackup.verify_certificate">{{ _('Verify certificate') }}
                </label>
                <span class="help-block">
                    Uncheck to allow self-signed and expired certificates.
                </span>
            </div>
        </div>
    </div>
    <h4>File and folder settings</h4>
    <div class="accordion-inner">
        <div class="control-group">
            <label class="control-label">{{ _('Path') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.webdavbackup.upload_path">
                <span class="help-block">
                    The path to save the back-up files to.
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Filename') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.webdavbackup.upload_name">
                <span class="help-block">
                    The name for the file, without extension. When empty, the name of the backup file generated by OctoPrint will be used.
                </span>
            </div>
        </div>
        <span class="help-block">
            Python date string formatting (%Y%m%d, %H:%M:%S) is allowed in both fields.
        </span>
    </div>
</form>
