<!-- ko if: settingsViewModel.settings.plugins.arc_welder -->
<span class="help-inline label label-important" data-bind="visible: settingsViewModel.settings.plugins.webdavbackup.upload_other_overwrite">We have detected <a href="https://plugins.octoprint.org/plugins/arc_welder/" target="_blank">Arc Welder</a> on your system. Please enable <em>Overwrite existing files</em> (or disable Overwrite Source File in Arc Welder) if you want the processed gcode to be saved.</span>
<!-- /ko -->
<form id="webdavbackup_plugin_settings" class="form-horizontal">
    <h4>Connection settings</h4>
    <div class="accordion-inner">
        <div class="control-group">
            <label class="control-label">{{ _('Server') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.webdavbackup.server">
                <span class="help-block">
                    The WebDAV server to connect to.
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Username') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.webdavbackup.username">
            </div>
            <label class="control-label">{{ _('Password') }}</label>
            <div class="controls">
                <input type="password" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.webdavbackup.password">
                <span class="help-block">
                    The username and password to authenticate against WebDAV.<br>
                    <b>Please note that the password will be stored in plain text! Use an app specific password if possible.</b>
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.webdavbackup.verify_certificate">{{ _('Verify certificate') }}
                </label>
                <span class="help-block">
                    Uncheck to allow self-signed and expired certificates.
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.webdavbackup.check_space">{{ _('Check available space') }}
                </label>
                <span class="help-block">
                    Should we check if the server has enough free space available?<br/>
                    Not all WebDAV servers support this.
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.webdavbackup.disable_path_check">{{ _('Disable path check') }}
                </label>
                <span class="help-block">
                    Should we skip checking the path and create directories if needed?<br/>
                    Not all WebDAV servers support this.<br/>
                </span>
                <div data-bind="visible: settingsViewModel.settings.plugins.webdavbackup.disable_path_check" style="display: none">
                    <span class="help-block">
                        <b>Please note that this will require you to manually create the directories, it is strongly discouraged to use date variables in your path when you enable this!</b>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <button class="btn btn-primary" id="test_connection"
            data-bind="click: testWebDavConnection, enable:!testing_connection()">
            <i class="fa fa-spinner fa-spin" data-bind="visible: testing_connection" style="display: none;"></i>
            Test connection
        </button>
        <div class="alert alert-info" data-bind="visible: testing_connection">
            <strong>Testing...</strong><br>
        </div>
        <div class="alert alert-success" id="test_success" data-bind="visible: test_succeeded">
            <button type="button" class="close" data-bind="click: function(data){test_succeeded(false)}"
                aria-hidden="true">&times;</button>
            <strong>Test succeeded</strong>
        </div>
        <div class="alert alert-error" id="test_failed" data-bind="visible: test_failed">
            <strong>Test failed</strong> Some error description here
        </div>
    </div>
    <h4>File and folder settings</h4>
    <div class="accordion-inner">
        <span class="help-block">
            Python date string formatting (%Y%m%d, %H:%M:%S) is allowed in all fields.
        </span>
        <div class="control-group">
            <label class="control-label">{{ _('Backup path') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.webdavbackup.upload_path">
                <span class="help-block">
                    The path to save the backup files to.
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Backup filename') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.webdavbackup.upload_name">
                <span class="help-block">
                    The name for the file, without extension. When empty, the name of the backup file generated by OctoPrint will be used.
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.webdavbackup.upload_timelapse_video">{{ _('Upload timelapse videos') }}
                </label>
                <span class="help-block">
                    Should we upload timelapse videos?
                </span>
            </div>
        </div>
        <div data-bind="visible: settingsViewModel.settings.plugins.webdavbackup.upload_timelapse_video" style="display: none">
            <div class="control-group">
                <label class="control-label">{{ _('Timelapse path') }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.webdavbackup.upload_timelapse_path">
                    <span class="help-block">
                        The path to save the timelapse files to. When empty, the same path as configured for the backups will be used.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Timelapse filename') }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.webdavbackup.upload_timelapse_name">
                    <span class="help-block">
                        The name for the file, without extension. When empty, the name of the file generated by OctoPrint will be used.
                    </span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.webdavbackup.remove_after_upload">{{ _('Remove after upload') }}
                </label>
                <span class="help-block">
                    Should we remove backups and timelapse videos after successful upload to save local space?
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.webdavbackup.upload_other">{{ _('Upload other files') }}
                </label>
                <span class="help-block">
                    Should we upload other files when uploaded to OctoPrint?
                </span>
            </div>
        </div>
        <div data-bind="visible: settingsViewModel.settings.plugins.webdavbackup.upload_other" style="display: none">
            <div class="control-group">
                <label class="control-label">{{ _('File path') }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.webdavbackup.upload_other_path">
                    <span class="help-block">
                        The path to save the files to. When empty, the same path as configured for the backups will be used.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Filter') }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.webdavbackup.upload_other_filter">
                    <span class="help-block">
                        Which file extensions to upload (comma separated, default: *.gcode,*.stl)
                    </span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.webdavbackup.upload_other_full_path">{{ _('Keep OctoPrint folder structure') }}
                    </label>
                    <span class="help-block">
                        Create folder structure 
                    </span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.webdavbackup.upload_other_overwrite">{{ _('Overwrite existing files') }}
                    </label>
                    <span class="help-block">
                        Should we overwrite existing files? Please note that some plugins will modify and save (gcode) files, which will trigger a 'file added' event multiple times.
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
